<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Myjob - Buttons</title>
    <!-- Custom css -->
    <link rel="stylesheet" href="../assets/css/app.css">
    <!-- Favicon -->
    <link rel="Shortcut Icon" href="../assets/images/favicon.png" type="image/x-icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Page loader start -->
    <div class="page-loader"></div>
    <!-- Page loader end -->
    <!-- Header start -->
    <header class="main-header">
        <!-- Navbar start -->
        <nav class="navbar">
            <div class="container">
                <!-- Logo start -->
                <a href="../" class="navbar-brand">
                    <img src="../assets/images/logo.png" alt="...">
                </a>
                <!-- Logo end -->
                <!-- Navs start -->
                <div class="navs">
                    <!-- Account nav start -->
                    <ul class="nav navbar-nav account">
                        <li><a href="../pages/login.html"><i class="md-lock-open m-r-10"></i>Login</a></li>
                        <li><a href="../pages/register.html"><i class="md-face m-r-10"></i>Register</a></li>
                    </ul>
                    <!-- Account nav end -->
                    <!-- Main nav start -->
                    <ul class="nav navbar-nav">
                        <li>
                            <a href>Home</a>
                            <ul>
                                <li><a href="../pages/home-with-search-bar.html">With Search Bar</a></li>
                                <li><a href="../pages/home-with-text-writing.html">With Text Writing</a></li>
                                <li><a href="../pages/home-with-color.html">With Color</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li>
                                    <a href="#">Company<i class="navbar-icon md-caret-right"></i></a>
                                    <ul>
                                        <li><a href="../pages/companies.html">Companies</a></li>
                                        <li><a href="../pages/company-detail.html">Company Detail</a></li>
                                        <li><a href="../pages/edit-company.html">Edit Company</a></li>
                                        <li><a href="../pages/resume-search.html">Search Resume</a></li>
                                        <li><a href="../pages/submit-jobs.html">Submit Job</a></li>
                                        <li><a href="../pages/manage-jobs.html">Manage Jobs</a></li>
                                        <li><a href="../pages/company-change-password.html">Change Your Password</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Job Seeker<i class="navbar-icon md-caret-right"></i></a>
                                    <ul>
                                        <li><a href="../pages/job-detail-one.html">Job Detail One</a></li>
                                        <li><a href="../pages/job-detail-two.html">Job Detail Two</a></li>
                                        <li><a href="../pages/resume-detail.html">Resume Detail</a></li>
                                        <li><a href="../pages/create-resume.html">Create Resume</a></li>
                                        <li><a href="../pages/jobs-search.html">Job Search</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Account<i class="navbar-icon md-caret-right"></i></a>
                                    <ul>
                                        <li><a href="../pages/login.html">Login</a></li>
                                        <li><a href="../pages/register.html">Register</a></li>
                                        <li><a href="../pages/forget.html">Forget</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog<i class="navbar-icon md-caret-right"></i></a>
                                    <ul>
                                        <li><a href="../pages/blog-list.html">Blog List</a></li>
                                        <li><a href="../pages/blog-list-sidebar.html">Blog List Sidebar</a></li>
                                        <li><a href="../pages/blog-detail.html">Blog Detail</a></li>
                                        <li>
                                            <a href="#">Blog With Card<i class="navbar-icon md-caret-right"></i></a>
                                            <ul>
                                                <li><a href="../pages/blog-list-with-card.html">Blog List</a></li>
                                                <li><a href="../pages/blog-list-sidebar-with-card.html">Blog List Sidebar</a></li>
                                                <li><a href="../pages/blog-detail-with-card.html">Blog Detail</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="../pages/pricing.html">Pricing</a></li>
                                <li><a href="../pages/about.html">About Us</a></li>
                                <li>
                                    <a href="../pages/contact-one.html">Contact<i class="navbar-icon md-caret-right"></i></a>
                                    <ul>
                                        <li><a href="../pages/contact-one.html">Contact One</a></li>
                                        <li><a href="../pages/contact-two.html">Contact Two</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../pages/404-page-one.html">404 Page<i class="navbar-icon md-caret-right"></i></a>
                                    <ul>
                                        <li><a href="../pages/404-page-one.html">404 Page One</a></li>
                                        <li><a href="../pages/404-page-two.html">404 Page Two</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">FAQ<i class="navbar-icon md-caret-right"></i></a>
                                    <ul>
                                        <li><a href="../pages/faq-one.html">FAQ One</a></li>
                                        <li><a href="../pages/faq-two.html">FAQ Two</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Components</a>
                            <ul>
                                <li>
                                    <a href="#">Sections<i class="navbar-icon md-caret-right"></i></a>
                                    <ul>
                                        <li><a href="footer.html">Footer<span>3 Styles</span></a></li>
                                        <li><a href="jobs.html">Jobs</a></li>
                                        <li><a href="search-bars.html">Search Bars</a></li>
                                        <li><a href="subscription.html">Subscription</a></li>
                                        <li><a href="app-block.html">App Block</a></li>
                                    </ul>
                                </li>
                                <li><a href="alerts.html">Alerts</a></li>
                                <li><a href="boxes.html">Boxes</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="colors.html">Color</a></li>
                                <li><a href="form-elements.html">Form Elements</a></li>
                                <li><a href="accordion.html">Accordion</a></li>
                                <li><a href="cards.html">Cards</a></li>
                                <li><a href="tabs.html">Tabs</a></li>
                                <li><a href="typography.html">Typography</a></li>
                                <li>
                                    <a href="icons.html">Icons<i class="navbar-icon md-caret-right"></i></a>
                                    <ul>
                                        <li><a href="icons.html">Material</a></li>
                                        <li><a href="http://fontawesome.io/icons/" target="_blank">Font Awesome</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Main nav end -->
                </div>
                <!-- Navs end -->
                <!-- Responsive nav button start -->
                <ul class="nav navbar-nav responsive-btn">
                    <li><a href="#"><i class="md-menu m-r-10"></i></a></li>
                </ul>
                <!-- Responsive nav button end -->
            </div>
        </nav>
        <!-- Navbar end -->
    </header>
    <!-- Header end -->
    <section class="page-header lighten-4" style="background: url(../assets/images/cover-1.jpg)">
        <div class="container">
            <h2>buttons</h2>
        </div>
    </section>
    <section>
        <div class="container">
            <header class="text-left section-header">
                <h5>Default</h5>
            </header>
            <div>
                <button class="btn m-r-10">Simple</button>
                <button class="btn btn-default m-r-10">Default</button>
                <button class="btn btn-primary m-r-10">Primary</button>
                <button class="btn btn-success m-r-10">Success</button>
                <button class="btn btn-danger m-r-10">Danger</button>
                <button class="btn btn-info m-r-10">Info</button>
                <button class="btn btn-warning m-r-10">Warning</button>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <header class="text-left section-header">
                <h5>Button Block</h5>
            </header>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-block btn-primary">Button</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-danger">Button</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-success">Button</button>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="row">
                        <div class="col-md-8">
                            <button class="btn btn-block btn-success">Button</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-default">Button</button>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-block btn-warning">Button</button>
                        </div>
                        <div class="col-md-8">
                            <button class="btn btn-block btn-info">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <header class="text-left section-header">
                <h5>Button Icon</h5>
            </header>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-default btn-xs"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-default btn-sm"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-default"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-default btn-lg"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-primary btn-xs"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-sm"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-primary"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-lg"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-success btn-xs"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-success btn-sm"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-success"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-success btn-lg"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-danger btn-xs"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-danger btn-sm"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-danger"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-danger btn-lg"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-info btn-xs"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-info btn-sm"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-info"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-info btn-lg"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
            </ul>
            <ul class="list-inline">
                <li>
                    <button class="btn btn-warning btn-xs"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-warning btn-sm"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-warning"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
                <li>
                    <button class="btn btn-warning btn-lg"><i class="md-favorite-outline icon"></i>Button</button>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <header class="text-left section-header">
                <h5>Button Float</h5>
            </header>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-default btn-float btn-xs"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-default btn-float btn-sm"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-default btn-float"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-default btn-float btn-lg"><i class="md-favorite-outline icon"></i></button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-primary btn-float btn-xs"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-primary btn-float btn-sm"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-primary btn-float"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-primary btn-float btn-lg"><i class="md-favorite-outline icon"></i></button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-success btn-float btn-xs"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-success btn-float btn-sm"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-success btn-float"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-success btn-float btn-lg"><i class="md-favorite-outline icon"></i></button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-danger btn-float btn-xs"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-danger btn-float btn-sm"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-danger btn-float"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-danger btn-float btn-lg"><i class="md-favorite-outline icon"></i></button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-info btn-float btn-xs"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-info btn-float btn-sm"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-info btn-float"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-info btn-float btn-lg"><i class="md-favorite-outline icon"></i></button>
                </li>
            </ul>
            <ul class="list-inline">
                <li>
                    <button class="btn btn-warning btn-float btn-xs"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-warning btn-float btn-sm"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-warning btn-float"><i class="md-favorite-outline icon"></i></button>
                </li>
                <li>
                    <button class="btn btn-warning btn-float btn-lg"><i class="md-favorite-outline icon"></i></button>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <header class="text-left section-header">
                <h5>Button Round</h5>
            </header>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-default btn-round btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-default btn-round btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-default btn-round">Button</button>
                </li>
                <li>
                    <button class="btn btn-default btn-round btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-primary btn-round btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-round btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-round">Button</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-round btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-success btn-round btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-success btn-round btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-success btn-round">Button</button>
                </li>
                <li>
                    <button class="btn btn-success btn-round btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-danger btn-round btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-danger btn-round btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-danger btn-round">Button</button>
                </li>
                <li>
                    <button class="btn btn-danger btn-round btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-info btn-round btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-info btn-round btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-info btn-round">Button</button>
                </li>
                <li>
                    <button class="btn btn-info btn-round btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline">
                <li>
                    <button class="btn btn-warning btn-round btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-warning btn-round btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-warning btn-round">Button</button>
                </li>
                <li>
                    <button class="btn btn-warning btn-round btn-lg">Button</button>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <header class="text-left section-header">
                <h5>Button Outline</h5>
            </header>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-default btn-outline btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-default btn-outline btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-default btn-outline">Button</button>
                </li>
                <li>
                    <button class="btn btn-default btn-outline btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-primary btn-outline btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-outline btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-outline">Button</button>
                </li>
                <li>
                    <button class="btn btn-primary btn-outline btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-success btn-outline btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-success btn-outline btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-success btn-outline">Button</button>
                </li>
                <li>
                    <button class="btn btn-success btn-outline btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-danger btn-outline btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-danger btn-outline btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-danger btn-outline">Button</button>
                </li>
                <li>
                    <button class="btn btn-danger btn-outline btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline m-b-20">
                <li>
                    <button class="btn btn-info btn-outline btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-info btn-outline btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-info btn-outline">Button</button>
                </li>
                <li>
                    <button class="btn btn-info btn-outline btn-lg">Button</button>
                </li>
            </ul>
            <ul class="list-inline ">
                <li>
                    <button class="btn btn-warning btn-outline btn-xs">Button</button>
                </li>
                <li>
                    <button class="btn btn-warning btn-outline btn-sm">Button</button>
                </li>
                <li>
                    <button class="btn btn-warning btn-outline">Button</button>
                </li>
                <li>
                    <button class="btn btn-warning btn-outline btn-lg">Button</button>
                </li>
            </ul>
        </div>
    </section>
    <section class="bg-white">
        <div class="container">
            <header class="text-left section-header">
                <h5>Default Social Buttons</h5>
            </header>
            <div class="m-b-20">
                <ul class="social-icons social-icons-xs">
                    <li data-toggle="tooltip" title="Facebook"><a href="#" class="facebook"><i class="md-facebook"></i></a></li>
                    <li data-toggle="tooltip" title="Twitter"><a href="#" class="twitter"><i class="md-twitter"></i></a></li>
                    <li data-toggle="tooltip" title="Google Plus"><a href="#" class="google"><i class="md-google-plus"></i></a></li>
                    <li data-toggle="tooltip" title><a href="#" class="youtube"><i class="md-youtube"></i></a></li>
                    <li data-toggle="tooltip" title><a href="#" class="linkedin"><i class="md-linkedin"></i></a></li>
                    <li data-toggle="tooltip" title><a href="#" class="flickr"><i class="md-flickr"></i></a></li>
                    <li data-toggle="tooltip" title><a href="#" class="instagram"><i class="md-instagram"></i></a></li>
                    <li data-toggle="tooltip" title><a href="#" class="dribbble"><i class="md-dribbble"></i></a></li>
                    <li data-toggle="tooltip" title><a href="#" class="skype"><i class="md-skype"></i></a></li>
                    <li data-toggle="tooltip" title><a href="#" class="whatsapp"><i class="md-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="m-b-25">
                <ul class="social-icons social-icons-sm">
                    <li><a href="#" class="facebook"><i class="md-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="md-twitter"></i></a></li>
                    <li><a href="#" class="google"><i class="md-google-plus"></i></a></li>
                    <li><a href="#" class="youtube"><i class="md-youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="md-linkedin"></i></a></li>
                    <li><a href="#" class="flickr"><i class="md-flickr"></i></a></li>
                    <li><a href="#" class="instagram"><i class="md-instagram"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="md-dribbble"></i></a></li>
                    <li><a href="#" class="skype"><i class="md-skype"></i></a></li>
                    <li><a href="#" class="whatsapp"><i class="md-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="m-b-20">
                <ul class="social-icons">
                    <li><a href="#" class="facebook"><i class="md-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="md-twitter"></i></a></li>
                    <li><a href="#" class="google"><i class="md-google-plus"></i></a></li>
                    <li><a href="#" class="youtube"><i class="md-youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="md-linkedin"></i></a></li>
                    <li><a href="#" class="flickr"><i class="md-flickr"></i></a></li>
                    <li><a href="#" class="instagram"><i class="md-instagram"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="md-dribbble"></i></a></li>
                    <li><a href="#" class="skype"><i class="md-skype"></i></a></li>
                    <li><a href="#" class="whatsapp"><i class="md-whatsapp"></i></a></li>
                </ul>
            </div>
            <div>
                <ul class="social-icons social-icons-lg">
                    <li><a href="#" class="facebook"><i class="md-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="md-twitter"></i></a></li>
                    <li><a href="#" class="google"><i class="md-google-plus"></i></a></li>
                    <li><a href="#" class="youtube"><i class="md-youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="md-linkedin"></i></a></li>
                    <li><a href="#" class="flickr"><i class="md-flickr"></i></a></li>
                    <li><a href="#" class="instagram"><i class="md-instagram"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="md-dribbble"></i></a></li>
                    <li><a href="#" class="skype"><i class="md-skype"></i></a></li>
                    <li><a href="#" class="whatsapp"><i class="md-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="container">
            <header class="text-left section-header">
                <h5>Round Social Buttons</h5>
            </header>
            <div class="m-b-20">
                <ul class="social-icons social-icons-xs social-icons-round">
                    <li><a href="#" class="facebook"><i class="md-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="md-twitter"></i></a></li>
                    <li><a href="#" class="google"><i class="md-google-plus"></i></a></li>
                    <li><a href="#" class="youtube"><i class="md-youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="md-linkedin"></i></a></li>
                    <li><a href="#" class="flickr"><i class="md-flickr"></i></a></li>
                    <li><a href="#" class="instagram"><i class="md-instagram"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="md-dribbble"></i></a></li>
                    <li><a href="#" class="skype"><i class="md-skype"></i></a></li>
                    <li><a href="#" class="whatsapp"><i class="md-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="m-b-20">
                <ul class="social-icons social-icons-sm social-icons-round">
                    <li><a href="#" class="facebook"><i class="md-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="md-twitter"></i></a></li>
                    <li><a href="#" class="google"><i class="md-google-plus"></i></a></li>
                    <li><a href="#" class="youtube"><i class="md-youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="md-linkedin"></i></a></li>
                    <li><a href="#" class="flickr"><i class="md-flickr"></i></a></li>
                    <li><a href="#" class="instagram"><i class="md-instagram"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="md-dribbble"></i></a></li>
                    <li><a href="#" class="skype"><i class="md-skype"></i></a></li>
                    <li><a href="#" class="whatsapp"><i class="md-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="m-b-20">
                <ul class="social-icons social-icons-round">
                    <li><a href="#" class="facebook"><i class="md-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="md-twitter"></i></a></li>
                    <li><a href="#" class="google"><i class="md-google-plus"></i></a></li>
                    <li><a href="#" class="youtube"><i class="md-youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="md-linkedin"></i></a></li>
                    <li><a href="#" class="flickr"><i class="md-flickr"></i></a></li>
                    <li><a href="#" class="instagram"><i class="md-instagram"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="md-dribbble"></i></a></li>
                    <li><a href="#" class="skype"><i class="md-skype"></i></a></li>
                    <li><a href="#" class="whatsapp"><i class="md-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="m-b-20">
                <ul class="social-icons social-icons-lg social-icons-round">
                    <li><a href="#" class="facebook"><i class="md-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="md-twitter"></i></a></li>
                    <li><a href="#" class="google"><i class="md-google-plus"></i></a></li>
                    <li><a href="#" class="youtube"><i class="md-youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="md-linkedin"></i></a></li>
                    <li><a href="#" class="flickr"><i class="md-flickr"></i></a></li>
                    <li><a href="#" class="instagram"><i class="md-instagram"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="md-dribbble"></i></a></li>
                    <li><a href="#" class="skype"><i class="md-skype"></i></a></li>
                    <li><a href="#" class="whatsapp"><i class="md-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Footer start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Company</h5>
                    <p>Lorem ipsum dolor sit amet, eam verear dignissim ne, legere altera ex sit. Magna rationibus efficiantur vel at, cum cu iudico atomorum. Tale habemus molestie an sea, ne virtute dissentiet his, at sea ipsum insolens. Vitae doctus discere qui ne, enim iudico at pro, no sed modus omnes dolorem. Assum ubique equidem in eos. Putent maiestatis in ius.</p>
                    <p>Vitae doctus discere qui ne, enim iudico at pro, no sed modus omnes dolorem. Assum ubique equidem in eos. Putent maiestatis in ius.</p>
                </div>
                <div class="col-md-3">
                    <h5>Contact with us</h5>
                    <p>Manchester Road 123-78B, <br> Silictown</p>
                    <p>+46 123 456 789</p>
                    <p>info@sitename.com</p>
                    <p>http://www.sitename.com</p>
                </div>
                <div class="col-md-3">
                    <h5>Popular jobs</h5>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="md-caret-right m-r-10"></i>Experienced Frontend Engineer
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="md-caret-right m-r-10"></i>React.js Developer
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="md-caret-right m-r-10"></i>Front End Javascript Engineer
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="md-caret-right m-r-10"></i>PHP/Drupal developer for legacy ecommerce site
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="sm">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <ul class="social-icons social-icons-sm">
                        <li><a href="#" class="facebook"><i class="md-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="md-twitter"></i></a></li>
                        <li><a href="#" class="google"><i class="md-google"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="md-linkedin"></i></a></li>
                        <li><a href="#" class="flickr"><i class="md-flickr"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p class="copyright">Copyrights © 2017 All Rights Reserved by</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->
    <!-- ================= Script files ================= -->
    <!-- Jquery -->
    <script src="../assets/js/jquery/jquery.min.js"></script>
    <!-- Jquery ui -->
    <script src="../assets/js/jquery/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- Bootstrap slider -->
    <script src="../assets/js/bootstrap-slider/bootstrap-slider.min.js"></script>
    <!-- Waves effect -->
    <script src="../assets/js/waves/waves.min.js"></script>
    <!-- Scroll animate effect -->
    <script src="../assets/js/scroll.js"></script>
    <!-- Owl carousel -->
    <script src="../assets/js/owl-carousel/owl.carousel.min.js"></script>
    <!-- Summernote editor -->
    <script src="../assets/js/summernote/summernote.min.js"></script>
    <!-- Typed.js -->
    <script src="../assets/js/typed.min.js"></script>
    <!-- Custom -->
    <script src="../assets/js/app.js"></script>
</body>
</html>